 /* mobile phones: */
body {
    background-color: red;
    font-size: 22px;
    width: 100%;
}


#small, #medium, #large {
 
    display: inline-flexbox;
}

/* tablets */
@media only screen and (min-width: 410px) {

    body {
        background-color: green;
        font-size: 18px;
    }

    #small {
        width: 66%;
    }

    #medium {
        width: 33%;
    }

    #large {
        width: 100%
    }
}

/* desktop */
@media only screen and (min-width: 768px) {

    body {
        background-color: blue;
        font-size: 14px;
    }

    #small, #medium, #large {
 
        display: inline-flex;
    }
} 